# Unity 기본 무시 폴더
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# 유저 환경 관련 (선택)
UserSettings/

# Visual Studio / Rider 관련
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# 기타 잡파일
*.tmp
*.bak
*.svd
*.log